<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/containerTablas.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablas de Regsitro</title>
</head>
<body >
  <div class="container" id="containerTablas">
    <h1>Próximas salidas</h1>
    
    <input type="text" id="searchInput" class="form-control" placeholder="Buscar...">
    <table id="dataTable" class="table">

      <!-- Contenido de la tabla -->

    </table>
    <br><br>
    <h1>Block misceláneo actual</h1>

    <input type="text" id="searchInput" class="form-control" placeholder="Buscar...">
    <table id="dataTable" class="table">

      <!-- Contenido de la tabla -->

    </table>
  </div>
</body>
</html>